{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="javascript:history.back()" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Your agent's ID
      </h1>
      <p>
        Enter the Government Gateway Agent ID of the person you want to appoint.
      </p>

      <form method="post" action="setpassword">
        <div class="form-group">
          <label class="form-label-bold" for="username">Agent ID</label>
          <input class="form-control" id="username" type="text" name="username">
        </div>
      </form>

      <details>
        <summary>
          <span class="summary">Don't know their Agent ID?</span>
        </summary>
        <div class="panel panel-border-narrow">
          <p>
            To appoint someone, you can <a href="">complete a PDF form and send it to HMRC</a>.
          </p>
        </div>
      </details>

      <p>
        <a class="button" href="#" role="button">Continue</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
