{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Appoint someone to deal with HMRC for you
      </h1>
      <p>
        Use this service to allow someone else (they'll be referred to as your 'agent') to talk to HMRC about your:

        <ul class="list list-bullet">
          <li>Self Assessment tax returns</li>
          <li>National Insurance contributions</li>
          <li>Tax Credit claims</li>
        </ul>

      </p>

      <h2 class="heading-medium">Who you can appoint</h2>
      <p>
        You can appoint an accountant or tax adviser, a friend or relative or someone from a voluntary organisation.
      </p>

      <div class="panel panel-border-wide">
        <p>
          Your agent must be registered for <abbr title="HM Revenue and Customs">HMRC</abbr> online services. You'll need to know their Government Gateway Agent ID.
        </p>
      </div>

      <p>
        If you don't know the person's Agent ID, you can <a href="">complete and send a PDF form instead</a>.
      </p>

      <p>
        <a class="button button-start" href="agent-id" role="button">Start now</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
