{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Appoint an agent
      </h1>

      <p>

        <ul class="list list-bullet">
          <li><a href="start">Start page v1 - tax returns</li>
          <li><a href="start-alt">Start page v2 - broader HMRC servies</li>
        </ul>
      </p>


    </div>
  </div>
</main>

{% endblock %}
